{% extends 'layouts/bare.html' %}

{% block content %}

<div class="row">
	<div class="col">
		<h1>How it works</h1>
		<p>conditional NFT allows you to condition the ownership and actions of a NFT on the possession of a valid Lock from Unlock Protocol.</p>
		<p>Through this conditional ownership, you can now build second-order monetisation on the underlying access granted by Unlock Protocol.</p>
		<p>For example, you can now sell ultra-exclusive content to a section of your audience who are in possession of your Lock.
			This rewards your existing Lock holders, and incentivises new audiences to purchase your Lock in order to access
			the opportunity to purchase this ultra-exclusive content.
		</p>
	</div>
</div>


<div class="row my-3">
	<div class="col float-center">
		<a href="{{ url_for('deploy_unlock') }}" class="btn btn-secondary">Deploy</a>
	</div>
</div>

<div class="row">
	<div class="col">
		<table class="table" id="cnft-factory-table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">cNFT Address</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	</div>
</div>
<!-- Proxy element for factory addresses --->
<meta property="development-cnft-address" content={{ cnft_factory_addresses.development }}>
<meta property="rinkeby-cnft-address" content={{ cnft_factory_addresses.rinkeby }}>
<meta property="mainnet-cnft-address" content={{ cnft_factory_addresses.mainnet }}>
<script src={{ url_for('static', filename='js/index_unlock.js') }}></script>
{% endblock %}
